*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: #f5f5f5;
}
/*------------nav bar -----------------*/
.navbar{
    background-color: #002628;
    height:60px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}
.navbar-brand{
    background-color: transparent;
    border: none;
    color: #20A2AA;
    font-weight: 600;
    font-size: 20px;
}
.nav-link, .dropdown-icon{
    color: #FDFDFD;
    margin: 0 20px;
}
.dropdown a{
    text-decoration: none;
}
.navbar-icon{
    display: none;
    color: #20A2AA;
    background-color: transparent;
    border: none;
    font-size: 28px;
}
.dropdown-icon{
    font-size: 12px;
    border: 1px solid #FDFDFD;
    padding: 5px 10px;
    border-radius: 100%;
}
.navbar-brand:hover, .nav-link:hover, .dropdown-icon:hover{
    color: #20A2AA;
}
.dropdown-icon:hover{
    border: 1px solid #20A2AA;
}
.active{
    border: 1px solid #20A2AA;
    border-radius: 10px;
    color: #FDFDFD !important;
}


@media (max-width: 767px){
    .navbar{
        height: auto;
        background-color: #002628;
    }
    .nav-item{
        margin: 5px 0;
    }
    .navbar-nav{
        text-align: center;
        margin: 40px 0;
    }
    .dropdown{
        position: fixed;
        top: 0;
        right: 2em;
        line-height: 55px;
        
    }
    .dropdown-icon{
        color: #20A2AA;
        border: 1px solid #20A2AA;
    }
    .navbar-icon{
        display: block;
    }
    .navbar-icon, .navbar-icon:hover{
        border: none;
        box-shadow: none;
    }
}
@media (min-width: 768px) and (max-width: 991px){
    .nav-item{
        margin: 5px 0;
    }
    .navbar{
        height: auto;
        background-color: #002628;
    }
    .navbar-nav{
        text-align: center;
        margin: 40px 0;
    }
    .navbar-icon{
        color: #20A2AA;
        font-size: 30px;
        border: none;
        padding: 0;
    }
    .dropdown{
        position: fixed;
        top: 0;
        right: 5em;
        padding: 0 40px;
        line-height: 55px;
    }
    .dropdown-icon{
        color: #20A2AA;
        border: 1px solid #20A2AA;
    }
    .navbar-icon{
        display: block;
    }
    .navbar-icon:hover{
        box-shadow: none;
        border: none;
        outline: none;
    }   
}